<div
  class="jumbotron m-0"
  style="background: rgba(0, 0, 0, 0.03); padding: 5px 0px 25px 10px; border-radius: 0px;"
>
  <h1 class="display-3 text-pacifico text-teal m-0"><i class="fa fa-code"></i> languages</h1>
</div>
<div class="card">
  <div class="card-header p-1 bg-teal"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <canvas
          #chart_timeline
          width="400"
          height="50"
        ></canvas>
      </div>
      <div class="col-md-4">
        <canvas
          #chart_doughnut
          width="100"
          height="50"
        ></canvas>
      </div>
    </div>
  </div>
</div>