<nav class="nav nav-tabs nav-stacked">
  <a
    class="nav-link"
    *ngFor="let item of this.filters"
    [ngClass]="{'active': this.current == item}"
    (click)="onTabSelect(item)"
  >{{item | titlecase}}</a>
</nav>
<form
  class="form-body text-white"
  style="padding: 15px;"
>
  <div
    class="form-search"
    style="display: flex;"
  >
    <input
      [(ngModel)]="this.textStr"
      class="form-control"
      id="search"
      name="search"
      placeholder="Search {{this.current | titlecase}}"
      type="text"
    >
    <button
      type="submit"
      class="btn btn-info"
      (click)="this.onSubmit()"
    ><i class="fa fa-search"></i></button>
  </div>
</form>
<div [ngSwitch]="this.current">
  <div *ngSwitchCase="'users'">
    <table
      *ngIf="this.results['users']"
      class="table shadow table-hover table-striped w-100"
    >
      <tbody>
        <tr *ngFor="let item of this.results['users']">
          <td>
            <img
              src="{{item.avatar_url}}"
              class="shadow"
              style="margin: auto; width: 50px; border-radius: 50%;"
              alt=""
            >
          </td>
          <td>{{item.login}}</td>
          <td><button
              class="btn btn-outline-info"
              routerLink="user"
              [queryParams]="{id: item.login}"
            ><i class="fa fa-search mr-2"></i>View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>