<div
  class="sidenav"
  *ngIf="this.authState"
  [ngClass]="{'expanded': this.expanded, 'collapse': !this.expanded}"
>
  <div class="sidenav-header">
    <div class="text-title">hub</div>
    <button
      class="btn nav-action menu"
      (click)="this.onToggleSidenav()"
    >
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="sidenav-center">
    <div class="nav-actions">
      <a
        class="nav-action icon"
        *ngFor="let route of this.routes"
        (mouseover)="this.onHoverSidenav(route.title)"
        (mouseleave)="this.onHoveredSidenav(route.title)"
        [routerLink]="route.path"
        [ngClass]="{'active': route.active, 'nav-action-hover': route.hover}"
      >
        <i class="fa {{route.icon}}"></i>
      </a>
    </div>
    <div class="nav-content">
      <div class="nav-items">
        <a
          class="nav-action content"
          *ngFor="let route of this.routes"
          (mouseover)="this.onHoverSidenav(route.title)"
          (mouseleave)="this.onHoveredSidenav(route.title)"
          [routerLink]="route.path"
          [ngClass]="{'active': route.active, 'nav-action-hover': route.hover}"
        >
          {{route.title | titlecase}}
        </a>
      </div>
    </div>
  </div>
  <div class="sidenav-footer"></div>
</div>