<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>User</th>
      <th>Type</th>
      <th>Repos</th>
      <th>Location</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr class="results" *ngFor="let item of this.$results | async; let index = index" routerLink="{{item.login}}">
      <td class="align-middle" scope="row">{{index + 1}}</td>
      <td class="align-middle"><img [src]="item.avatar_url" style="border-radius: 50%; height: 35px;"></td>
      <td class="align-middle">{{item.name}}</td>
      <td class="align-middle">@{{item.login}}</td>
      <td class="align-middle">{{item.type}}</td>
      <td class="align-middle">{{item.public_repos}}</td>
      <td class="align-middle">{{item.location}}</td>
      <td class="align-middle">{{item.updated_at | date: 'dd/MM/yyyy'}}</td>
      <td class="align-middle">{{item.created_at | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>