@import "themes.scss";

a {
  text-decoration: none;
}
a:hover {
  color: $secondary;
}
.nav {
  border: none;
}
.nav-item {
  color: $teal;
}
.nav-link {
  color: $teal;
  border: none;
  font-weight: bold;
}
.active {
  transition: ease-in 200ms;
  background: $teal !important;
  color: white !important;
}
.form-body {
  background: $teal;
}
.hide {
  display: none;
}
.form-search {

}
.breadcrumb {
  background: $teal;
  border-radius: 0px;
  display: flex;
  position: relative;
  .breadcrumb-item {
    color: white;
    font-weight: bold;
  }
  .breadcrumb-item::before {
    color: white;
  }
  .show {
    display: block;
  }
}
.card-nav {
  .card-header {
    @media screen and (min-width: 585px) {
      display: block;
    }
    @media screen and (max-width: 585px) {
      display: none;
    }
  }
}