/* You can add global styles to this file, and also import other style files */
@import "themes.scss";

html,
body {
  height: 100vh;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $secondary;
}
.list-group-item-action {
  font-weight: bold;
  background: inherit;
  color: $secondary;
}
.list-group-item-action:hover {
  transition: ease-in 250ms;
  border-color: $teal;
  background: $teal;
  color: white;
}
.list-group-item-action.active {
  border-color: $teal;
  background: $teal;
}
.list-group-item:active {
  border-color: $teal;
  background: darken($color: $teal, $amount: 10%);
}
