/* You can add global styles to this file, and also import other style files */
@import "themes.scss";
@import "global.scss";
// ======================================= //
html,
body {
  padding: 0px;
  margin: 0px;
  // ======================================= //
  overflow-y: hidden;
  overflow-x: hidden;
  // ======================================= //
  font-size: 14px;
  font-family: $poppins;
}
.bg-teal {
  background: $teal;
  color: white;
}
.text-teal {
  color: $teal;
}
.text-title {
  font-family: "Pacifico", cursive;
  font-size: 24px;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.row {
  margin: 0px;
}
.card {
  border-color: transparent;
  .card-header {
    border-color: transparent;
  }
}