<div
  class="h-100"
  style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
>
  <div class="card shadow">
    <div
      class="text-center card-body text-info"
      style="padding: 25px;"
    >
      <img
        src="../../assets/images/logo.png"
        style="width: 250px; margin: 100px;"
      >
      <hr>
      <button
        id="github"
        (click)="this.login()"
        style="margin: auto; border-radius: 30px; display: flex; justify-content: center; align-items: center;"
        class="btn btn-outline-info shadow"
      ><i
          class="fa fa-github"
          style="font-size: 36px;"
        ></i> <span style="font-size: 24px;"></span></button>
    </div>
    <div class="card-dooter"></div>
  </div>
</div>
